 

//@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
//@import url('styles/boots-bones.css');
@import 'reset';

/*Colors*/
/*============================================*/
$red:#ff0000;
$blue:#00ff00;
$green:#0000ff;
$main_text:#2b2b2b;
$footer_bg:#2b2b2b;
$gn_links:#a4a4a4;
$callout_text: #55595f;
$hf_links: #a4a4a4;


/*Fonts*/
/*============================================*/
//$et_font:'Roboto', sans-serif;
$et_font:'Avenir W01';

/*Ala Carte*/
/*============================================*/

.alignLeft{
  float:left;
  clear:both;
}

.alignRight{
  float:right;
}

.absolute_top{
  top:0;
  position:fixed;
}

.absolute_bottom{
  position:absolute; 
  bottom:0;}

.fixed{
  position:fixed; 
  bottom:0;}

.table{
  display:table;
}

.hide{
  display:none;
}

/*Forms*/
/*============================================*/
input[type=text]{
  background: transparent;
  border-bottom: 2px solid $main_text;
  border-radius: 0;
  line-height: 1.75;
  margin-left: 1em;
}

/*Layout*/
/*============================================*/
body{
  overflow-x:hidden; 
  font-size:100%; 
  font-size:16px; 
  //line-height:1; 
  font-family:$et_font;
  color:$main_text;
}  

// body, html{
//   width:100%; 
//   height:100%;
// }

strong{
  font-weight: bold;
}

p{
  padding-bottom:25px;
}

li{display:inline-block; }

a {

  img{
    opacity:1;
    transition:.2s all  ease-in-out;

    &:hover{
      opacity:.5;
    }

  }

}

h2, h3, h4, h5, p{
  letter-spacing:.015em;
}

h1{
  font-size:3em;
  line-height:1.125;

}

h2{
  font-size:2.25em;
  font-size:36px;
  line-height:1.2;
}

h3{
  font-size:2.3em;
  font-size:28px;
  line-height:1.3em;
}

h4{
  font-size:1.4em;
  font-size:22px;
  line-height:1.2;
}
h5{
  font-size:.8em;
  line-height:1.4;
  letter-spacing:.04em;
}
p{
  font-size:.9em;
  line-height:1.4;
  letter-spacing:.015em;
  font-weight:300;
}

.the-content{

  img{
    padding:0 1em 1em 1em;
  }

  h2, h3, h4{
    padding-bottom:20px;
  }

  h2, h3, h4, h5, h6{
    clear:none;
  }

  p{
    line-height:1.4;
  }

}

.tags{
  color:#5b5b5b;
  font-weight:100;
  letter-spacing:.04em;
  font-size:.875em;
  font-size:12px;
  text-transform:uppercase;
  line-height: 1.4;
  //margin:.5em 0;

  a{
    color:#5b5b5b !important;
    &:hover{
      color:#292929 !important;
      text-decoration:underline;
    }
  }
}

h1.title{
  // font-size:2.25em;
  font-weight:300;
  text-transform:uppercase;
  //margin-bottom:25px;
  //margin:.5em 0;
}

h2.title{
  text-transform:uppercase;
}

.row{position:relative;

  &:after, &:before{
    display:table; 
    content:" ";
  }

  &:after{
    clear:both;
  }
}

.container{
  height:100%;
  min-height:100%; 
  position:relative;
  
  // &:after, &:before{
  //   display:table; 
  //   content:" ";
  // }

}

.single-post .container .the-content{
  margin-left:10px;
}

.container.default, .container.blog, .single-post .container{
  height:auto;
  margin-bottom:130px;
  margin-top:1em;
  //max-width:1000px;
}

.archive #content, .page-grid #content{
  margin-bottom:100px;
}

.container.default{
  .the-content{
    width:60%;
    margin:0 15em 0;
    //margin-top:1em; 
    padding:3em;
    max-width:1000px;
  }
}

div[id*="panel"]{
  height:150%;
  min-height:150%;
  //margin-bottom:10px;
}

.logo-container{
  width:142px;
  height:34px;
}

.individual-social{
  font-size:.875em;
  text-align:right;
}
.single-projects div[id*="panel"]{
  height:200%;
  min-height:200%;
}

.single-projects .global-nav li.portfolio a{
  color:white;
}

.single-projects .container, .single-panel .container{
  margin-bottom:15px;
}

.single-projects .project-overview{

  h1{
    margin-bottom:0;
  }

  .the-content{
    margin-top:30px; }

}



nav.global-nav{
  background:$footer_bg; 
  width:100%; 
  z-index:500;
  

  ul{
    padding:.5em 0;
  }
  
  &.current_page_item{
    li a{
        color:white;
    }
  }

  li{
    float:none; 
    display:inline-block; 
    vertical-align: middle;

    &.current_page_item, &.current-menu-item, &.current-page-ancestor{
     a{
        color:white;
    }
  }

    ul li{
      margin:1em;
    }

    a{
      color:$gn_links; 
      text-transform:uppercase; 
      font-weight:500;
      font-size:.9em;
      letter-spacing:.04em;

      &:hover, &:active, &:focus{
        color:white;
      }
    }
}
}

.container{

   //&.home
    background-repeat:no-repeat; 
    background-size:cover; 
    background-position:center center;
    background-attachment:fixed;

}

.callout.staff{
  padding:2% 0 2%;
}

.staff-list{
  h2.p_name, h3.p_title{
    text-align:left !important;
  }

  .staff-container{
    max-width:60%;
    margin:0 auto;
  }

  img{
    padding:0;
    padding-bottom:1em;
  }

  .p_name{
    font-size:18px;
    line-height:25px;
    width:auto;
    padding:0;
    margin:0;
    color:#55595f;
    text-transform:uppercase;
    font-weight: 500;
    white-space: nowrap;
  }

  .p_title{
    font-size:12px;
    line-height:16px;
    padding:0;
    margin:0;
  }
}

.blog .post{
  border-bottom:3px solid #a2a2a2;
  margin-bottom:1em;
  padding-bottom:2.5em;

  .the-content{
    padding-top:20px;
  }

  h2, h3, h4{
    //margin-bottom:.75em;
  }
}

article.post:last-of-type{
      border-bottom:0px solid white;
}

.blog h2{
  text-transform:uppercase;
  padding-bottom:.75em;
}

.homepage-motto{
  margin-left:25%;
  height:100%;
  width:50%;
  padding:0 2em;

  .fa{
    color:#b3b3b3;
    font-size:.75em
  }

  h2{
    font-size:2.25em;
    padding: 150px 1.5em 0 1.5em;
    line-height:1.25;
  }

}

.archive-button{
  position:absolute;
  right:0;
  top:4em;
  background:#d8d8d8;
  border-radius:50%;
  z-index:205;
  width:100px;
  height:100px;
  text-align:center;
  display:table;

  p{
    display:table-cell;
    vertical-align:middle;
  }
}

.gallery-gateway{
  position:absolute;
  left:0;
  top:100px;
  z-index: 205;
  display:table;

  .filter.button{
    font-style: oblique;
  }
  .button{
    margin-bottom:1em;
    padding:1em;
    font-size:.8em;
    text-transform:uppercase;
  }

}

.down-container{
  position:absolute;
  bottom:15%; 
  width:100%; 
  text-align:center;
}

.over_white{
  background:rgba(255,255,255, .9);
}

.greeting{
  width:25%; 
  min-width:300px;
  position:absolute; 
  z-index:200; 
  height:100%;
  cursor:pointer;

  h1{
    font-size:4em; 
    padding-top:150px; 
    padding-left:.5em; 
    font-weight:100;
    line-height:1.2;

    //&:after{
      //content:" \2192";
    //}
  }



  }

.lead{
  color:#5b5b5b;
  padding-top:20px;
  font-weight:300;
}

[class*="post"] .the-content{
  //margin-top:1.5em;
  //margin-left:10px;
}

// .archive #primary{
//   display:block;
// }

// .single-post .content{
//   //display:table;
//   height:auto;
//   margin-bottom:130px;
// }

.o_container.blog .o_container_inner, .default .o_container_inner{
  margin-left:10px;
}

.o_container{
  width:60%;
  margin-left:15em;
  margin-top:1em;
  padding:3em;
  padding-right:5em;
  max-width:1000px;

}

.o_container_inner{
  width:90%;
}

.project-intro{
  position:absolute; 
  top:7em;
  min-height:400px;
}
.projects-nav.gallery{
  width:auto; 
  height:auto;
  min-height:400px;
  margin-top:100px;
  padding:1em; 
  float:left;
  text-transform:uppercase;
  //left:-95px;
  //transition:all .2s ease-in-out;
  position:absolute;
  z-index:305;
  font-size:.75em;
  font-size:12px;
  padding-top:2em;

  .title{
    font-style:oblique;
    margin-top:20px;
  }

  ul{
    margin-left:.5em;

    li{
      margin-top:.7em;
      display:block;
      cursor:pointer;

      &:hover{
        color:#2b2b2b;
        font-weight:800;
      }
    }
  }

  a{
    font-style: oblique;
    color:#5b5b5b;
  }
}

.selected{
  color: #2b2b2b;
    font-weight: 800;
}

.projects-nav.single{
  width:80px; 
  height:100%;
  min-height:400px;
  padding:1em; 
  float:left;
  text-transform:uppercase;
  //left:-95px;
  //transition:all .2s ease-in-out;
  z-index:305;
  font-size:.75em;

  .title{
    font-style:oblique;
  }

  // ul li{
  //   font-size:12px;
  // }

  a{
    font-style: oblique;
    color:#5b5b5b;
    font-size:12px;

    &:hover{
      color:#2b2b2b;
      font-weight:800;
    }
  }

  //&:hover{left:0}

  .fa.pull-right{
    margin-right:-.3em;
  }

  li{
    display:block;
    margin:.5em 0;
    color:#2b2b2b;

    &:hover{
      color:#5b5b5b;
    }

  }

}

.blog-nav{
  width:auto; 
  min-width:110px;
  height:auto;
  min-height:400px;
  margin-top:100px;
  padding:1em; 
  float:left;
  text-transform:uppercase;
  position:fixed;
  z-index:305;
  font-size:12px;
  padding-top:2em;

  .title{
    font-style:oblique;
    //font-size:12px;
  }

  ul{
      margin-left:.5em;

    .current-menu-item, .current-post-ancestor{
        color:#2b2b2b;
        font-weight:800;
      }
      
    li{
      display:block;
      margin-top:.7em; 
      color:#2b2b2b;

      

      a{
        &:hover{
          color:#2b2b2b;
          font-weight:800;
        }
      }
    }
  }
}

.project-overview{
  width:35%;
  min-width:500px; 
  padding:1em; 
  height:auto;
  opacity:0;
  height:100%;
  //min-height:100%;

  h1{
    // font-size:3em;
    //opacity:0;
  }

  p{
    //line-height:1.5;
    //opacity:0;
  }

  .back{
    font-size: .875em;
    display:none;
    visibility:hidden;
  

      a{
        color:#5b5b5b;
        font-style:oblique;
      }
  }

  .acheivement{
    //display:table;
    //position:absolute;
    bottom:1em;
    left:0;
    //margin:1em;
    //background:black;
    //color:white;
    //border-radius:50%;
    width:75px;
    height:75px;
    font-size:.8em;
    //opacity:0;

    img{
      max-width:100%;
      height:auto;
    }

    p{
      display:table-cell;
      vertical-align:middle;
      padding-left:1em;
      text-transform:uppercase;
    }

  }
}

.close{
    text-align:right;
  }

.sprite{
  background-repeat:no-repeat;
  cursor:pointer;
}

.sprite.r_arrow{
  height: 25px;
  width: 23px;
  background-position: -27px -7px;
}

.sprite.l_arrow{
  height: 25px;
  width: 23px;
  background-position: -2px -7px;
}

.sprite.close{
  height: 25px;
  width: 12px;
  background-position: -50px -4px;
  position:absolute;
  right:.5em;
  top:0;
}

.sprite.search_i{
  height: 25px;
  width: 12px;
  background-position: -67px -4px;
  //position:absolute;
  //right:.5em;
  //top:0;
}

.search_form, .news_search_form{
  width:50%; 
  height:400px;
  margin-top:100px;
  margin-left:160px;
  padding:1em; 
  float:left;
  text-transform:uppercase;
  //left:-95px;
  transition:all .2s ease-in-out;
  position:absolute;
  z-index:305;

  form{
    display: table-cell;
    vertical-align: middle;
    padding-left: 2em;
  }
}

.search-text-link{
  position:absolute;
  bottom:1.5em;
  text-decoration:underline;
  cursor:pointer;
}

.search-text-link .l_arrow{
  float:right;
  margin-top:-5px;
}

.project-overview, .projects-nav{
  float:left;
  margin-right:1.25em;
  position:relative;
}

.project-tile{
  //width:25%; 
  float:left; 
  //padding-bottom:25%; 
  position:relative;

  img{
    width:100%; 
    height:auto;}

}

.project-tile.four-col{
  width:25%;
  padding-bottom:24%;
}

.project-tile.two-col {
  width:50%;
  padding-bottom:50%;
}

.project-tile.three-col{
  width:33.333%;
  padding-bottom:33.333%;
}



.project-tile-content{
  position:absolute; 
  top:5px; 
  bottom:5px; 
  left:5px; 
  right:5px; 
  overflow:hidden;
}

.project-tile-overlay{
  position:absolute; 
  z-index:200; 
  top:5px; 
  bottom:5px; 
  left:5px; 
  right:5px; 
  padding:1em; 
  opacity:0; 
  transition:all .2s ease-in-out;

  h1{
    //font-size:2.25em; 
    text-transform:uppercase;
    font-weight:100;

    a{
      //width: 100%;
      //height: 100%;
      display: block;
      color:#2b2b2b;
    }
  }

  &:hover{
    opacity:1;
  }

  h2{
    font-size:24px;
    line-height:33px;
  }
}

.callout{
  //position:absolute; 
  bottom:0; 
  background:white; 
  //height:30%; 
  padding: 5% 0 2%; 
  width:100%; 
  text-align:center !important; 
  color: $callout_text;

  &.final{
    padding-bottom:10%;
  }

  h2{
    width:80%; 
    text-align:center !important; 
    margin:0 auto; 
    font-size:1.75em;
    font-weight:100;
    font-style:normal;
    //padding-top:1.5em;
  }

  .callout-link{
    padding-top:1.25em;

    a{
    color: #b3b3b3;
    text-transform:uppercase;
    font-size:.9em;
    letter-spacing: .015em;
    font-weight: 800;
    

    &:hover{
      color:#999999;
    }
  }
  }
}

.button{
  max-width:60px;
  position:relative;
}

.button .fa{
  margin-bottom:1em; 
}

.search-news-container{
  margin-top:3em;
  position:absolute;
  bottom:2em;
}

a.search-news.button{
  text-decoration:underline;
  font-size:12px;
  text-transform:uppercase;
  margin-left:.5em;
  font-style:normal !important;
}

.page-portfolio-of-work .the-content{
  margin-bottom:2em;
}

.projects .the-content{
  margin-bottom:6em;
}

.center{
  text-align:center;
}

.page-bg{
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

footer {
  background:$footer_bg; 
  color:#a4a4a4; 
  position:relative; 
  padding:.6em 1em;

  ul li{
    display:inline-block; 
    margin-right:.25em;
    vertical-align:top;
  }

  p{
    margin:0;
    padding:0;
  }

  a{
    color:#a4a4a4;

    &:hover{
      text-decoration:underline;
      color:white;
    }
  }

  .contact-info{
    p{
      font-weight:500;
      font-size:.9em;
    }
  }

  .copyright{
    position:absolute; 
    right:1em; 
    top:.6em;

    p{
      font-size:.75em;
      font-weight:100;
    }
  }
}


.logos{
  margin:2em 0;

  li{
    margin:0 1.5em;
  }

}

.global-nav-mobile{
  display:none;
  visibility:hidden;
}

.mobile-nav-trigger{
  position: absolute;
  right: 1em;
  z-index: 60000;
  top: .5em;
}

#sidr-close, .sidr-close{
  text-align:right;
  padding:.5em;
  cursor:pointer;
}

a.fa-bars{
  color:$hf_links;
}

header .sidr-close{
  display:none;
  visibility: hidden;
}

#loader{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color:rgba(0, 0, 0, .5);
  z-index:9999999;
  display:table;
  font-size:3em;
  color:white;

  .loader-container{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
  }
}

// Responsive hooks for jquery
.mobile-only{
  display:none;
  visibility:hidden;
}

/*Custom animations*/

.animate-loader{
  animation: animateLoad ease-in-out 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation: animateLoad ease-in-out 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: animateLoad ease-in-out 1.5s;
  -moz-animation-iteration-count: infinite;
  -o-animation: animateLoad ease-in-out 1.5s;
  -o-animation-iteration-count: infinite;
  -ms-animation: animateLoad ease-in-out 1.5s;
  -ms-animation-iteration-count: infinite;
}

@keyframes animateLoad{
  0% {
    //transform:   rotate(0deg) ;
    opacity:0
  }

  50%{
    opacity:1;
  }
  100% {
    //transform: rotate(360deg) ;
    opacity:0;
  }
}

@-moz-keyframes animateLoad{
  0% {
    -moz-transform:    rotate(0deg) ;
    -moz-opacity:0;
  }
  50%{
    -moz-opacity:1;
  }
  100% {
    -moz-transform: rotate(360deg) ;
    -moz-opacity:0;
  }
}

@-webkit-keyframes animateLoad {
  0% {
    //-webkit-transform:rotate(0deg) ;
    -webkit-opacity:0;
  }
  50%{
    -webkit-opacity:1;
  }
  100% {
    //-webkit-transform:rotate(180deg) ;
    -webkit-opacity:0;
  }
}

@-o-keyframes animateLoad {
  0% {
    -o-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  100% {
    -o-transform:  translate(200px,0px)  rotate(180deg) ;
  }
}

@-ms-keyframes animateLoad {
  0% {
    -ms-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  100% {
    -ms-transform:  translate(200px,0px)  rotate(180deg) ;
  }
}

/* BASE GRID
 * ------------------------------------------------ */
/* line 3, sass/grid/_grid.scss */

.row.has-two{
  max-width:640px;
  margin:0 auto;
}
.row.has-one{
  max-width:320px;
  margin:0 auto;
}

.container_mesh {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
/* line 8, sass/grid/_grid.scss */
.container_mesh .column,
.container_mesh .columns {
  float: left;
  display: inline;
  position: relative;
  img{
    max-width:100%;
    height:auto;
    border-radius:50%;
  }
}
/* line 13, sass/grid/_grid.scss */
.container_mesh .column.alpha,
.container_mesh .columns.alpha {
  margin-left: 0;
}
/* line 14, sass/grid/_grid.scss */
.container_mesh .column.omega,
.container_mesh .columns.omega {
  margin-right: 0;
}

/* line 17, sass/grid/_grid.scss */
.row {
  //margin-bottom: 2rem;
}

/* line 46, sass/grid/_dependencies.scss */
.container_mesh .column,
.container_mesh .columns {
  margin-left: 10px;
  margin-right: 10px;
}

/* The Grid */
/* line 58, sass/grid/_dependencies.scss */
.container_mesh .one.column,
.container_mesh .one.columns {
  width: 60px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .two.columns {
  width: 140px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .three.columns {
  width: 220px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .four.columns {
  width: 300px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .five.columns {
  width: 380px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .six.columns {
  width: 460px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .seven.columns {
  width: 540px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .eight.columns {
  width: 620px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .nine.columns {
  width: 700px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .ten.columns {
  width: 780px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .eleven.columns {
  width: 860px;
}
/* line 61, sass/grid/_dependencies.scss */
.container_mesh .twelve.columns {
  width: 940px;
}
/* line 64, sass/grid/_dependencies.scss */
.container_mesh .one-third.column {
  width: 300px;
}
/* line 65, sass/grid/_dependencies.scss */
.container_mesh .two-thirds.column {
  width: 620px;
}
/* line 66, sass/grid/_dependencies.scss */
.container_mesh .full-width.columns {
  width: 960px;
  margin-left: 0;
  margin-right: 0;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-one {
  padding-left: 80px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-two {
  padding-left: 160px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-three {
  padding-left: 240px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-four {
  padding-left: 320px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-five {
  padding-left: 400px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-six {
  padding-left: 480px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-seven {
  padding-left: 560px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-eight {
  padding-left: 640px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-nine {
  padding-left: 720px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-ten {
  padding-left: 800px;
}
/* line 83, sass/grid/_dependencies.scss */
.container_mesh .offset-by-eleven {
  padding-left: 880px;
}

/* TABLET (PORTRAIT)
 * ------------------------------------------------ */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 25, sass/grid/_grid.scss */
  
  .container_mesh {
    width: 768px;
  }
  /* line 29, sass/grid/_grid.scss */
  .container_mesh .column.alpha,
  .container_mesh .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }
  /* line 35, sass/grid/_grid.scss */
  .container_mesh .column.omega,
  .container_mesh .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }

  /* line 43, sass/grid/_grid.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 46, sass/grid/_dependencies.scss */
  .container_mesh .column,
  .container_mesh .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* The Grid */
  /* line 58, sass/grid/_dependencies.scss */
  .container_mesh .one.column,
  .container_mesh .one.columns {
    width: 44px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .two.columns {
    width: 108px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .three.columns {
    width: 172px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .four.columns {
    width: 236px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .five.columns {
    width: 300px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .six.columns {
    width: 364px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .seven.columns {
    width: 428px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .eight.columns {
    width: 492px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .nine.columns {
    width: 556px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .ten.columns {
    width: 620px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .eleven.columns {
    width: 684px;
  }
  /* line 61, sass/grid/_dependencies.scss */
  .container_mesh .twelve.columns {
    width: 748px;
  }
  /* line 64, sass/grid/_dependencies.scss */
  .container_mesh .one-third.column {
    width: 236px;
  }
  /* line 65, sass/grid/_dependencies.scss */
  .container_mesh .two-thirds.column {
    width: 492px;
  }
  /* line 66, sass/grid/_dependencies.scss */
  .container_mesh .full-width.columns {
    width: 768px;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-one {
    padding-left: 64px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-two {
    padding-left: 128px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-three {
    padding-left: 192px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-four {
    padding-left: 256px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-five {
    padding-left: 320px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-six {
    padding-left: 384px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-seven {
    padding-left: 448px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-eight {
    padding-left: 512px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-nine {
    padding-left: 576px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-ten {
    padding-left: 640px;
  }
  /* line 83, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-eleven {
    padding-left: 704px;
  }
}
/*  MOBILE (PORTRAIT)
 * ------------------------------------------------ */
@media only screen and (max-width: 767px) {
  /* line 91, sass/grid/_dependencies.scss */
  .container_mesh {
    width: 300px;
  }
  /* line 93, sass/grid/_dependencies.scss */
  .container_mesh .column,
  .container_mesh .columns {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 103, sass/grid/_dependencies.scss */
  .container_mesh .one.column {
    width: 300px;
  }
  /* line 138, sass/grid/_dependencies.scss */
  .container_mesh .one.columns, .container_mesh .two.columns, .container_mesh .three.columns, .container_mesh .four.columns, .container_mesh .five.columns, .container_mesh .six.columns, .container_mesh .seven.columns, .container_mesh .eight.columns, .container_mesh .nine.columns, .container_mesh .ten.columns, .container_mesh .eleven.columns, .container_mesh .twelve.columns {
    width: 296px;
  }
  /* line 107, sass/grid/_dependencies.scss */
  .container_mesh .one-third.column {
    width: 296px;
  }
  /* line 108, sass/grid/_dependencies.scss */
  .container_mesh .two-thirds.column {
    width: 296px;
  }
  /* line 109, sass/grid/_dependencies.scss */
  .container_mesh .full-width.columns {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 138, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-one, .container_mesh .offset-by-two, .container_mesh .offset-by-three, .container_mesh .offset-by-four, .container_mesh .offset-by-five, .container_mesh .offset-by-six, .container_mesh .offset-by-seven, .container_mesh .offset-by-eight, .container_mesh .offset-by-nine, .container_mesh .offset-by-ten, .container_mesh .offset-by-eleven {
    padding-left: 0;
  }
}
/* MOBILE (LANDSCAPE)
 * ------------------------------------------------ */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 91, sass/grid/_dependencies.scss */
  .container_mesh {
    width: 420px;
  }
  /* line 93, sass/grid/_dependencies.scss */
  .container_mesh .column,
  .container_mesh .columns {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 103, sass/grid/_dependencies.scss */
  .container_mesh .one.column {
    width: 420px;
  }
  /* line 138, sass/grid/_dependencies.scss */
  .container_mesh .one.columns, .container_mesh .two.columns, .container_mesh .three.columns, .container_mesh .four.columns, .container_mesh .five.columns, .container_mesh .six.columns, .container_mesh .seven.columns, .container_mesh .eight.columns, .container_mesh .nine.columns, .container_mesh .ten.columns, .container_mesh .eleven.columns, .container_mesh .twelve.columns {
    width: 416px;
  }
  /* line 107, sass/grid/_dependencies.scss */
  .container_mesh .one-third.column {
    width: 416px;
  }
  /* line 108, sass/grid/_dependencies.scss */
  .container_mesh .two-thirds.column {
    width: 416px;
  }
  /* line 109, sass/grid/_dependencies.scss */
  .container_mesh .full-width.columns {
    width: 420px;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 138, sass/grid/_dependencies.scss */
  .container_mesh .offset-by-one, .container_mesh .offset-by-two, .container_mesh .offset-by-three, .container_mesh .offset-by-four, .container_mesh .offset-by-five, .container_mesh .offset-by-six, .container_mesh .offset-by-seven, .container_mesh .offset-by-eight, .container_mesh .offset-by-nine, .container_mesh .offset-by-ten, .container_mesh .offset-by-eleven {
    padding-left: 0;
  }
}
/* CLEARING
 * ------------------------------------------------ */
/* line 72, sass/grid/_grid.scss */
.container_mesh:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 79, sass/grid/_grid.scss */
.clearfix, .row {
  zoom: 1;
}
/* line 81, sass/grid/_grid.scss */
.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 89, sass/grid/_grid.scss */
.clearfix:after, .row:after {
  clear: both;
}

/* line 91, sass/grid/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

@media only screen and (max-width: 1200px){
  nav.global-nav li ul li{
    margin:1em .5em;
  }

  .project-tile-overlay{

    h1{
      font-size:2em;
    }
    h2{
      font-size:1.25em;
    }

  }
}

@media only screen and (max-width:1024px){
  .project-overview .back{
    display:block;
    visibility:visible;
  }

  .projects-nav{
    display:none;
    visibility:hidden;
  }
}

@media only screen and (max-width:950px){
  footer {
    text-align:center;

    .copyright{
    position:relative;
    margin-bottom:1em;
    width: 100%;
    text-align: center;
    margin: 1.5em 0;
    right:0;
    top:0;

    a{
      text-decoration: underline;

      &:hover, &:active, &.focus{
        text-decoration: none;
      }
    }
  }

    .contact-number{
      line-height:2.5;
    }
   
  }
}

@media only screen and (max-width: 768px){
  .row.has-two{
  max-width:100%;
  margin:0 auto;
  }

  .row.has-one{
    max-width:100%;
    margin:0 auto;
  }

  .callout.staff{
    padding:5% 0 2%;
  }
}

@media only screen and (max-width:850px) and (min-width:481px){
  .logo-container{
  width:36px;
  height:34px;
  }

  .container.default, .container.blog, .single-post .container{
    margin-top:6.25em;
  }

  .o_container, .container.default .the-content{
    margin-left:10em;
  }

//   .container{

//    //&.home
//     background-repeat:no-repeat; 
//     background-size:contain; 
//     background-position:center center;
//     background-attachment:fixed;

// }

}

@media only screen and (max-width: 580px){
  .global-nav .center{
    text-align:left; padding-left:1em;
  }

  .global-nav-mobile{
    display:block;
    visibility: visible;
  }

  header #desktop-only{
    display:none;
    visibility:hidden;
  }

  .mobile-only{
    display:block;
    visibility:visible;
  }

  .project-tile-overlay{

    opacity:1;
    top:auto;


    h1{
      font-size:1.5em;
    }
    h2{
      font-size:1em;
    }
  }
  .callout{

    h2{
      font-size:1.5em;
      width:90%
    }

    .callout-link{

      a{
      font-size:1em;
      }
    }

  }

div[id*="panel"]{
  height:100%;
  min-height:100%;
  background-position:center center;
}

  .homepage-motto{
    //background:white !important;
    width:100%;
    position:absolute;
    z-index:400;
    margin:0;
    padding:0;

    h2{
      text-align:center;
      padding-left:1em;
      padding-right:1em;
      font-size:2em;

    }
  }

  .down-container{
  position:absolute;
  bottom:15%; 
  right:.5em;
  width:100%; 
  text-align:right;
}

  .project-tile.four-col, .project-tile.three-col, .project-tile.two-col{
    width:100%;
    padding-bottom:100%;
    margin:0 auto;
  }

  .project-overview{
    width:80%;
    float:none;
    margin:0 auto;
    //height:auto;
    height:100%;
    min-width:0;

    .acheivement{
    position:relative;
    bottom:0;
    left:0;
    }

  }

  .gallery-gateway, {
    position:fixed;
    top:10em;
  }

  .projects-nav.gallery, .search_form{
    position:fixed;
  }

  .search_form{
    width:80%;
    margin-left:0;
  }

  .o_container{
    width:96%;
    margin:0 auto;
    padding:0;
    padding-right:0;
  }

  .blog-nav{
    position:relative;
    width:96%;
    margin:0 auto;
    padding:0;
    float:none;
    top:7em;
    min-height:0;
  }

  .blog-nav .search-news-container{
    position:relative
  }

  .container.default .the-content{
    margin-left:10em;
  }

  .container.default .the-content{
    padding:1em;
  }

  .container.default, .container.blog, .single-post .container{
    margin-top:6.25em;
  }

  .container.default{
    .the-content{
      margin:0 auto;
      width:80%;
      margin-left:auto;
    }
  }

  

}
