 

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
@import url('styles/boots-bones.css');
@import 'reset';

/*Colors*/
/*============================================*/
$red:#ff0000;
$blue:#00ff00;
$green:#0000ff;
$main_text:#2b2b2b;
$footer_bg:#2b2b2b;
$gn_links:#a4a4a4;
$callout_text: #55595f;
$hf_links: #a4a4a4;


/*Fonts*/
/*============================================*/
//$et_font:'Roboto', sans-serif;
$et_font:'Avenir W01';

/*Ala Carte*/
/*============================================*/

.alignLeft{
  float:left;
  clear:both;
}

.alignRight{
  float:right;
}

.absolute_top{
  top:0;
  position:fixed;
}

.absolute_bottom{
  position:absolute; 
  bottom:0;}

.fixed{
  position:fixed; 
  bottom:0;}

.table{
  display:table;
}

.hide{
  display:none;
}

/*Forms*/
/*============================================*/
input[type=text]{
  background: transparent;
  border-bottom: 2px solid $main_text;
  border-radius: 0;
  line-height: 1.75;
  margin-left: 1em;
}

/*Layout*/
/*============================================*/
body{
  overflow-x:hidden; 
  font-size:100%; 
  font-size:16px; 
  //line-height:1; 
  font-family:$et_font;
  color:$main_text;
}  

// body, html{
//   width:100%; 
//   height:100%;
// }

strong{
  font-weight: bold;
}

p{
  padding-bottom:25px;
}

li{display:inline-block; }

a {

  img{
    opacity:1;
    transition:.2s all  ease-in-out;

    &:hover{
      opacity:.5;
    }

  }

}

h2, h3, h4, h5, p{
  letter-spacing:.015em;
}

h1{
  font-size:3em;
  line-height:1.125;

}

h2{
  font-size:2.25em;
  font-size:36px;
  line-height:1.2;
}

h3{
  font-size:2.3em;
  font-size:28px;
  line-height:1.3em;
}

h4{
  font-size:1.4em;
  font-size:22px;
  line-height:1.2;
}
h5{
  font-size:.8em;
  line-height:1.4;
  letter-spacing:.04em;
}
p{
  font-size:.9em;
  line-height:1.4;
  letter-spacing:.015em;
  font-weight:300;
}

.the-content{

  img{
    padding:0 1em 1em 1em;
  }

  h2, h3, h4{
    padding-bottom:20px;
  }

  h2, h3, h4, h5, h6{
    clear:none;
  }

  p{
    line-height:1.4;
  }

}

.tags{
  color:#5b5b5b;
  font-weight:100;
  letter-spacing:.04em;
  font-size:.875em;
  font-size:12px;
  text-transform:uppercase;
  line-height: 1.4;
  //margin:.5em 0;

  a{
    color:#5b5b5b !important;
    &:hover{
      color:#292929 !important;
      text-decoration:underline;
    }
  }
}

h1.title{
  // font-size:2.25em;
  font-weight:300;
  text-transform:uppercase;
  margin-bottom:25px;
  //margin:.5em 0;
}

h2.title{
  text-transform:uppercase;
}

.row{position:relative;

  &:after, &:before{
    display:table; 
    content:" ";
  }

  &:after{
    clear:both;
  }
}

.container{
  height:100%;
  min-height:100%; 
  position:relative;
  
  // &:after, &:before{
  //   display:table; 
  //   content:" ";
  // }

}

.container.default, .container.blog, .single-post .container{
  height:auto;
  margin-bottom:130px;
  margin-top:1em;
  //max-width:1000px;
}

.archive #content, .page-grid #content{
  margin-bottom:100px;
}

.container.default{
  .the-content{
    width:60%;
    margin:0 15em 0;
    //margin-top:1em; 
    padding:3em;
    max-width:1000px;
  }
}

div[id*="panel"]{
  height:150%;
  min-height:150%;
  //margin-bottom:10px;
}

.individual-social{
  font-size:.875em;
  text-align:right;
}
.single-projects div[id*="panel"]{
  height:200%;
  min-height:200%;
}

.single-projects .container, .single-panel .container{
  margin-bottom:15px;
}

nav.global-nav{
  background:$footer_bg; 
  width:100%; 
  z-index:500;
  
  ul{
    padding:.5em 0;
  }
  
  &.current_page_item{
    li a{
        color:white;
    }
  }

  li{
    float:none; 
    display:inline-block; 
    vertical-align: middle;

    &.current_page_item, &.current-menu-item{
     a{
        color:white;
    }
  }

    ul li{
      margin:1em;
    }

    a{
      color:$gn_links; 
      text-transform:uppercase; 
      font-weight:500;
      font-size:.9em;
      letter-spacing:.04em;

      &:hover, &:active, &:focus{
        color:white;
      }
    }
}
}

.container{

   //&.home
    background-repeat:no-repeat; 
    background-size:cover; 
    background-position:center center;
    background-attachment:fixed;

}


.blog .post{
  border-bottom:3px solid #a2a2a2;
  margin-bottom:1em;
  padding-bottom:2.5em;

  h2, h3, h4{
    //margin-bottom:.75em;
  }
}

article.post:last-of-type{
      border-bottom:0px solid white;
}

.blog h2{
  text-transform:uppercase;
  padding-bottom:.75em;
}

.homepage-motto{
  margin-left:25%;
  height:100%;
  width:50%;
  padding:0 2em;

  .fa{
    color:#b3b3b3;
    font-size:.75em
  }

  h2{
    font-size:2.25em;
    padding: 150px 1.5em 0 1.5em;
    line-height:1.25;
  }

}

.archive-button{
  position:absolute;
  right:0;
  top:4em;
  background:#d8d8d8;
  border-radius:50%;
  z-index:205;
  width:100px;
  height:100px;
  text-align:center;
  display:table;

  p{
    display:table-cell;
    vertical-align:middle;
  }
}

.gallery-gateway{
  position:absolute;
  left:0;
  top:100px;
  z-index: 205;
  display:table;

  .filter.button{
    font-style: oblique;
  }
  .button{
    margin-bottom:1em;
    padding:1em;
    font-size:.8em;
    text-transform:uppercase;
  }

}

.down-container{
  position:absolute;
  bottom:15%; 
  width:100%; 
  text-align:center;
}

.over_white{
  background:rgba(255,255,255, .9);
}

.greeting{
  width:25%; 
  min-width:300px;
  position:absolute; 
  z-index:200; 
  height:100%;
  cursor:pointer;

  h1{
    font-size:4em; 
    padding-top:150px; 
    padding-left:1em; 
    font-weight:100;
    line-height:1.2;

    //&:after{
      //content:" \2192";
    //}
  }



  }

.lead{
  color:#5b5b5b;
  padding:30px 0;
  font-weight:300;
}

[class*="post"] .the-content{
  //margin-top:1.5em;
  margin-left:10px;
}

// .archive #primary{
//   display:block;
// }

// .single-post .content{
//   //display:table;
//   height:auto;
//   margin-bottom:130px;
// }

.o_container.blog .o_container_inner, .default .o_container_inner{
  margin-left:10px;
}

.o_container{
  width:60%;
  margin-left:15em;
  margin-top:1em;
  padding:3em;
  padding-right:5em;
  max-width:1000px;

}

.o_container_inner{
  width:90%;
}

.project-intro{
  position:absolute; 
  top:7em;
  min-height:400px;
}
.projects-nav.gallery{
  width:auto; 
  height:auto;
  min-height:400px;
  margin-top:100px;
  padding:1em; 
  float:left;
  text-transform:uppercase;
  //left:-95px;
  //transition:all .2s ease-in-out;
  position:absolute;
  z-index:305;
  font-size:.75em;
  font-size:12px;
  padding-top:2em;

  .title{
    font-style:oblique;
    margin-top:20px;
  }

  ul{
    margin-left:.5em;

    li{
      margin-top:.7em;
      display:block;
      cursor:pointer;

      &:hover{
        color:#2b2b2b;
        font-weight:800;
      }
    }
  }

  a{
    font-style: oblique;
    color:#5b5b5b;
  }
}

.selected{
  color: #2b2b2b;
    font-weight: 800;
}

.projects-nav.single{
  width:80px; 
  height:100%;
  min-height:400px;
  padding:1em; 
  float:left;
  text-transform:uppercase;
  //left:-95px;
  //transition:all .2s ease-in-out;
  z-index:305;
  font-size:.75em;

  .title{
    font-style:oblique;
  }

  // ul li{
  //   font-size:12px;
  // }

  a{
    font-style: oblique;
    color:#5b5b5b;
    font-size:12px;

    &:hover{
      color:#2b2b2b;
      font-weight:800;
    }
  }

  //&:hover{left:0}

  .fa.pull-right{
    margin-right:-.3em;
  }

  li{
    display:block;
    margin:.5em 0;
    color:#2b2b2b;

    &:hover{
      color:#5b5b5b;
    }

  }

}

.blog-nav{
  width:auto; 
  min-width:110px;
  height:auto;
  min-height:400px;
  margin-top:100px;
  padding:1em; 
  float:left;
  text-transform:uppercase;
  position:fixed;
  z-index:305;
  font-size:12px;
  padding-top:2em;

  .title{
    font-style:oblique;
    //font-size:12px;
  }

  ul{
      margin-left:.5em;
    li{
      display:block;
      margin-top:.7em; 
      color:#2b2b2b;

      a{
        &:hover{
          color:#2b2b2b;
          font-weight:800;
        }
      }
    }
  }
}

.project-overview{
  width:35%; 
  padding:1em; 
  height:auto;
  opacity:0;
  height:100%;
  //min-height:100%;

  h1{
    // font-size:3em;
    //opacity:0;
  }

  p{
    //line-height:1.5;
    //opacity:0;
  }

  .back{
      font-size: .875em;

      a{
        color:#5b5b5b;
        font-style:oblique;
      }
  }
  .acheivement{
    display:table;
    //position:absolute;
    bottom:1em;
    left:1em;
    margin:1em;
    background:black;
    color:white;
    border-radius:50%;
    width:75px;
    height:75px;
    font-size:.8em;
    //opacity:0;

    p{
      display:table-cell;
      vertical-align:middle;
      padding-left:1em;
      text-transform:uppercase;
    }

  }
}

.close{
    text-align:right;
  }

.sprite{
  background-repeat:no-repeat;
}

.sprite.r_arrow{
  height: 25px;
  width: 23px;
  background-position: -27px -7px;
}

.sprite.l_arrow{
  height: 25px;
  width: 23px;
  background-position: -2px -7px;
}

.sprite.close{
  height: 25px;
  width: 12px;
  background-position: -50px -4px;
  position:absolute;
  right:.5em;
  top:0;
}

.sprite.search_i{
  height: 25px;
  width: 12px;
  background-position: -67px -4px;
  //position:absolute;
  //right:.5em;
  //top:0;
}

.search_form, .news_search_form{
  width:50%; 
  height:400px;
  margin-top:100px;
  margin-left:160px;
  padding:1em; 
  float:left;
  text-transform:uppercase;
  //left:-95px;
  transition:all .2s ease-in-out;
  position:absolute;
  z-index:305;

  form{
    display: table-cell;
    vertical-align: middle;
    padding-left: 2em;
  }
}

.search-text-link{
  position:absolute;
  bottom:1.5em;
  text-decoration:underline;
  cursor:pointer;
}

.search-text-link .l_arrow{
  float:right;
  margin-top:-5px;
}

.project-overview, .projects-nav{
  float:left;
  margin-right:1.25em;
  position:relative;
}

.project-tile{
  //width:25%; 
  float:left; 
  //padding-bottom:25%; 
  position:relative;

  img{
    width:100%; 
    height:auto;}

}

.project-tile.four-col{
  width:25%;
  padding-bottom:24%;
}

.project-tile.two-col {
  width:50%;
  padding-bottom:50%;
}

.project-tile.three-col{
  width:33.333%;
  padding-bottom:33.333%;
}



.project-tile-content{
  position:absolute; 
  top:5px; 
  bottom:5px; 
  left:5px; 
  right:5px; 
  overflow:hidden;
}

.project-tile-overlay{
  position:absolute; 
  z-index:200; 
  top:5px; 
  bottom:5px; 
  left:5px; 
  right:5px; 
  padding:1em; 
  opacity:0; 
  transition:all .2s ease-in-out;

  h1{
    //font-size:2.25em; 
    text-transform:uppercase;
    font-weight:100;

    a{
      width: 100%;
      height: 100%;
      display: block;
      color:#2b2b2b;
    }
  }

  &:hover{
    opacity:1;
  }

}

.callout{
  //position:absolute; 
  bottom:0; 
  background:white; 
  //height:30%; 
  padding: 5% 0 2%; 
  width:100%; 
  text-align:center !important; 
  color: $callout_text;

  &.final{
    padding-bottom:10%;
  }

  h2{
    width:60%; 
    text-align:center !important; 
    margin:0 auto; 
    font-size:1.75em;
    font-weight:100;
    font-style:normal;
    //padding-top:1.5em;
  }

  .callout-link{
    padding-top:1.25em;

    a{
    color: #b3b3b3;
    text-transform:uppercase;
    font-size:.9em;
    letter-spacing: .015em;
    font-weight: 500;
    }

    &:hover{
      color:#292929;
    }

  }
}

.button{
  max-width:60px;
  position:relative;
}

.button .fa{
  margin-bottom:1em; 
}

.search-news-container{
  margin-top:3em;
  position:absolute;
  bottom:2em;
}

a.search-news.button{
  text-decoration:underline;
  font-size:12px;
  text-transform:uppercase;
  margin-left:.5em;
  font-style:normal !important;
}

.page-portfolio-of-work .the-content{
  margin-bottom:2em;
}

.projects .the-content{
  margin-bottom:6em;
}

.center{
  text-align:center;
}

footer {
  background:$footer_bg; 
  color:white; 
  position:relative; padding:1.5em 1em;

  ul li{
    display:inline-block; 
    margin-right:.25em;
    vertical-align:top;
  }

  p{
    margin:0;
    padding:0;
  }

  a{
    color:white;

    &:hover{
      text-decoration:underline;
      color:white;
    }
  }

  .contact-info{
    p{
      font-weight:500;
      font-size:.9em;
    }
  }

  .copyright{
    position:absolute; 
    right:1em; 
    top:1.5em;

    p{
      font-size:.75em;
      font-weight:100;
    }
  }
}


.logos{
  margin:2em 0;

  li{
    margin:0 1.5em;
  }

}

.global-nav-mobile{
  display:none;
  visibility:hidden;
}

.mobile-nav-trigger{
  position: absolute;
  right: 1em;
  z-index: 60000;
  top: .5em;
}

#sidr-close, .sidr-close{
  text-align:right;
  padding:.5em;
  cursor:pointer;
}

a.fa-bars{
  color:$hf_links;
}

header .sidr-close{
  display:none;
  visibility: hidden;
}

#loader{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color:rgba(0, 0, 0, .5);
  z-index:9999999;
  display:table;
  font-size:3em;
  color:white;

  .loader-container{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
  }
}

// Responsive hooks for jquery
.mobile-only{
  display:none;
  visibility:hidden;
}

/*Custom animations*/

.animate-loader{
  animation: animateLoad ease-in-out 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation: animateLoad ease-in-out 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: animateLoad ease-in-out 1.5s;
  -moz-animation-iteration-count: infinite;
  -o-animation: animateLoad ease-in-out 1.5s;
  -o-animation-iteration-count: infinite;
  -ms-animation: animateLoad ease-in-out 1.5s;
  -ms-animation-iteration-count: infinite;
}

@keyframes animateLoad{
  0% {
    //transform:   rotate(0deg) ;
    opacity:0
  }

  50%{
    opacity:1;
  }
  100% {
    //transform: rotate(360deg) ;
    opacity:0;
  }
}

@-moz-keyframes animateLoad{
  0% {
    -moz-transform:    rotate(0deg) ;
    -moz-opacity:0;
  }
  50%{
    -moz-opacity:1;
  }
  100% {
    -moz-transform: rotate(360deg) ;
    -moz-opacity:0;
  }
}

@-webkit-keyframes animateLoad {
  0% {
    //-webkit-transform:rotate(0deg) ;
    -webkit-opacity:0;
  }
  50%{
    -webkit-opacity:1;
  }
  100% {
    //-webkit-transform:rotate(180deg) ;
    -webkit-opacity:0;
  }
}

@-o-keyframes animateLoad {
  0% {
    -o-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  100% {
    -o-transform:  translate(200px,0px)  rotate(180deg) ;
  }
}

@-ms-keyframes animateLoad {
  0% {
    -ms-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  100% {
    -ms-transform:  translate(200px,0px)  rotate(180deg) ;
  }
}

@media only screen and (max-width: 480px){
  .global-nav .center{
    text-align:left; padding-left:1em;
  }

  .global-nav-mobile{
    display:block;
    visibility: visible;
  }

  header #desktop-only{
    display:none;
    visibility:hidden;
  }

  .mobile-only{
    display:block;
    visibility:visible;
  }

  .callout{

    h2{
      font-size:1.5em;
      width:90%
    }

    .callout-link{

      a{
      font-size:1em;
      }
    }

  }

div[id*="panel"]{
  height:100%;
  min-height:100%;
  background-position:left center;
}

  .homepage-motto{
    //background:white !important;
    width:100%;
    position:absolute;
    z-index:400;
    margin:0;
    padding:0;

    h2{
      text-align:center;
      padding-left:1em;
      padding-right:1em;
      font-size:2em;

    }
  }

  .down-container{
  position:absolute;
  bottom:15%; 
  right:.5em;
  width:100%; 
  text-align:right;
}

  .project-tile.four-col, .project-tile.three-col, .project-tile.two-col{
    width:100%;
    padding-bottom:100%;
    margin:0 auto;
  }

  .project-overview{
    width:80%;
    float:none;
    margin:0 auto;
    //height:auto;
    height:100%;

    .acheivement{
    position:relative;
    bottom:0;
    left:0;
    }

  }

  .gallery-gateway, {
    position:fixed;
    top:10em;
  }

  .projects-nav.gallery, .search_form{
    position:fixed;
  }

  .search_form{
    width:80%;
    margin-left:0;
  }

  .container.default{
    .the-content{
      margin:0 auto;
      width:80%;
      margin-left:auto;
    }
  }

  footer {
    text-align:center;

    .copyright{
    position:relative;
    }
  }

}
